
/*Encabezado*/

#navbar {
	border:  solid 1px;
	background-color: #e6eeff;
	border-radius: 0;
}

#barra-nav{
	position: relative;
}

#botonsup{
	position: absolute;
	right: 0;
	margin-right: 15px;
	margin-top: 8px;
	border-color: #000080;
}

#botonsup:hover, #botonsup:focus{
	background-color: #b3cbff;
}

#botonsup span{
	background-color: #000080;
}

#brand-name{
	font-weight: bold;
	font-size: 2em;
	font-family: verdana;
	color: #000080;
	text-decoration: none;
}

#collapsable-nav{
	margin-top: 50px;
	text-align: center;
	background-color: white;
	font-size: 1.8em;
}

.list-group-item{
	padding: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
	color:#000099;
}

.navbar-default .navbar-nav>li>a{
	color: #000099;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #000099;
	font-weight: bold;
}

/*Cuerpo de la pagina*/

#seccion{
	font-size: 1.5em;
	text-align: center;
	padding: 2px;
	font-weight: bold;
	color: #000080;
}

#home-tiles{
	background-color: #e6eeff;
	padding: 10px;
	/*margin: 5px;*/

}


#subtitulo{
	text-align: center;
	font-size: 2em;
	color: #000080;
	font-weight: bold;
	margin-bottom: 20px;

	}

#contenido{
		background-color: white;

}


