
/*Encabezado*/

#navbar {
	border:  solid 1px;
	background-color: #e6eeff;
	border-radius: 0;
}

#barra-nav{
	position: relative;
}

#botonsup{
	position: absolute;
	right: 0;
	margin-right: 15px;
	margin-top: 8px;
	border-color: #000080;
}

/*Color de las lineas del boton superior*/
#botonsup span{
	background-color: #000080;
}

/*Sombreado al activar o hover boton suprior*/
#botonsup:hover, #botonsup:focus{
	background-color: #b3cbff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #b3cbff;
	color:#000099;
}


#brand-name{
	font-weight: bold;
	font-size: 2em;
	font-family: verdana;
	color: #000080;
	text-decoration: none;
}

#collapsable-nav{
	margin-top: 50px;
	text-align: center;
	background-color: white;
	font-size: 1.8em;
}

.list-group-item{
	padding: 0;
}


/*Color del texto en barra desplegable*/
.navbar-default .navbar-nav>li>a{ 
	color: #000099;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #000099;
	font-weight: bold;
}

/*Cuerpo de la pagina*/

#chicken, #beef, #sushi{
	font-size: 1.3em;
	text-align: center;
	padding: 2px;
	font-weight: bold;
	color: #000080;
	margin-bottom: 11px;
}

#home-tiles{
	background-color: #e6eeff;
	padding: 20px;
	padding-color: white;
	border: 10px solid white;

}


#subtitulo{
	text-align: center;
	font-size: 2em;
	color: #000080;
	font-weight: bold;
	margin-bottom: 20px;

	}

#contenido{
		background-color: white;

}

#volver {
	text-align: center;
	margin-top: 15px;
}


